.PageHeader {
  background-color: var(--primary);
  color: white;
  padding: 10rem 0;
}

.PageHeader-large {
  padding: 10rem 0;
}

.PageHeader--Title {
  font-size: 6rem;
  margin-bottom: 0;
}

.PageHeader--Subtitle {
  font-weight: 400;
  font-size: 1.8rem;
}
